<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="privateSettings" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="MongoDb" connectionString="mongodb://localhost:30000/?journal=true" />
  </connectionStrings>
  <appSettings>
    <add key="PollIntervalSeconds" value="60"/>
    <add key="NewFilePollPath" value="C:\Temp\SolarTest\"/>
  </appSettings>
  <privateSettings configSource="privateSettings.config" />
  <specFlow>
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
  </specFlow>
</configuration>