<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="privateSettings" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="MongoDb" connectionString="mongodb://localhost:30000/?journal=true" />
  </connectionStrings>
  <appSettings>
  </appSettings>
  <!--<privateSettings FtpUsername="?" FtpPassword="?" FtpUrl="?"/>-->
  <privateSettings configSource="privateSettings.config"/>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>