<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MongoDb" connectionString="mongodb://jsdevopstest.cloudapp.net:30001/?journal=true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseName" value="SolarAppQA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PollIntervalSeconds" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewFilePollPath" value="D:\Temp\SolarAppQA\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <log4net>
    <appender name="MongoDBAppender" type="Log4Mongo.MongoDBAppender, Log4Mongo">
      <connectionString value="mongodb://jsdevopstest.cloudapp.net:30001/SolarAppQA?journal=true" xdt:Transform="Replace"/>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:/Applications/SolarApp/QA/Logs/mylogfile.txt" xdt:Transform="Replace" />
    </appender>
  </log4net>
</configuration>