<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MongoDb" connectionString="mongodb://jsdevopstest.cloudapp.net:30000/?journal=true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseName" value="SolarAppInt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PollIntervalSeconds" value="60" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NewFilePollPath" value="D:\Temp\SolarAppInt\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>