<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="privateSettings" type="System.Configuration.SingleTagSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MongoDb" connectionString="mongodb://localhost:30000/?journal=true" />
  </connectionStrings>
  <appSettings>
    <add key="NewFilePollPath" value="C:\Temp\Solar\"/>
    <add key="DatabaseName" value="Dev"/>
  </appSettings>
  <privateSettings configSource="privateSettings.config" />
</configuration>