<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <connectionStrings>
    <add name="MongoDb" connectionString="mongodb://localhost:30000/?journal=true" />
  </connectionStrings>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>