@model SystemActionViewModel
@{
    ViewBag.Title = "Home Page";
}
<p></p>
<div class="row">
    <div class="col-md-4"><h1>System Status</h1></div>
</div>
<p></p>
<p></p>

@if (Model.IsDatabaseAvailable)
{
    <div class="row">
        <div class="col-md-4">Request Weather Forecast:</div>
        <div class="col-md-3">@Html.DisplayTextFor(m => m.RequestWeatherForecast)</div>
        <div class="col-md-2">
            @if (Model.CanRequestWeatherForecast == true) {@Html.ActionLink("Request", "RequestWeatherForecast", null, new { @class = "btn btn-success" }); }
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Request Weather Observation:</div>
        <div class="col-md-3">@Html.DisplayTextFor(m => m.RequestWeatherObservation)</div>
        <div class="col-md-2">
            @if (Model.CanRequestWeatherObservation) { @Html.ActionLink("Request", "RequestWeatherObservation", null, new { @class = "btn btn-success" }); }
        </div>
    </div>
}
else
{
    <div class="jumbotron">
        Database Unavailable
    </div>
}
