@{
    ViewBag.Title = "Home Page";
}
<p></p>
<p></p>
    <div class="row">
        <div class="col-md-4"><h1>Welcome</h1></div>
    </div>
<p></p>
<p></p>
<div class="row">
    <div class="col-md-12">This is an application for making the best use of the energy in your solar panels<br /><br /></div>
</div>
<div class="row">
    <div class="col-md-12"><img src="~/Content/images/SolarPanels.jpg" alt="Solar Panels"/></div>
</div>
