@model SystemStateViewModel
@{
    ViewBag.Title = "Home Page";
}
<p></p>
<div class="row">
    <div class="col-md-4"><h1>System Status</h1></div>
</div>
<p></p>
<p></p>

    @if (Model.IsDatabaseAvailable)
    {
    <div class="row">
        <div class="col-md-4">Latest Meter Reading:</div>
        <div class="col-md-3">@Html.DisplayTextFor(m => m.LatestMeterReading)</div>
    </div>
    <div class="row">
        <div class="col-md-4">Last Run Date:</div>
        <div class="col-md-3">@Html.DisplayTextFor(m => m.LastRunDate)</div>
    </div>
    }
    else
    {
    <div class="jumbotron">
        Database Unavailable
    </div>
    }
    <div class="row">
        <div class="col-md-4">Environment</div>
        <div class="col-md-3">@Html.DisplayTextFor(m => m.Environment)</div>
    </div>
</div>