@model EnergyReadingsViewModel

@{
    ViewBag.Title = "Home Page";
}



<p></p>
<div class="row">
    <div class="col-md-4"><h1>Energy Readings</h1></div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>
<div class="row">
    <div id="graph"></div>
</div>
<div class="row">
    <div class="col-md-12">&nbsp;</div>
</div>

@if (!Model.IsDatabaseAvailable)
{
    <div class="jumbotron">
        Database Unavailable
    </div>
}
<div id="graphData" data-energyreadings="@Model.GraphData"></div>

@section Scripts {
    @Scripts.Render("~/bundles/d3")
    @Scripts.Render("~/bundles/energyreadings")
}